APP_NAME='9jaPay User Service'
APP_URL='https://9japay.com'
PORT=8080

DB_CLIENT=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=

VERIFICATION_SERVICE_GRPC_HOST=
VERIFICATION_SERVICE_HOST=
IDENTITY_SERVICE_HOST=
IDENTITY_SERVICE_GRPC_HOST=
KYC_SERVICE_HOST=
CUSTOMER_SERVICE_HOST=
ACCOUNT_SERVICE_HOST=

COREBANKING_ACCOUNT_OFFICER_ID=
COREBANKING_ACCOUNT_DOMICILE_BRANCH=
COREBANKING_SAVINGS_ACCOUNT_PRODUCT_TYPE=

METAMAP_BASEURL=
METAMAP_CLIENT_ID=
METAMAP_CLIENT_SECRET=
METAMAP_AUTH_VERIFICATION_FLOW_ID=

GOOGLE_STORAGE_PROJECT_ID=inspired-victor-344313
GOOGLE_STORAGE_BUCKET_NAME=onboarding_9japay_test
PROFILE_PICTURE_BUCKET_NAME=afl-profile-picture

FIREBASE_EVENT_CREATE_USER=
FIREBASE_EVENT_UPDATE_USER=
FIREBASE_EVENT_DEVICE_BINDING=

GOOGLE_APPLICATION_CREDENTIALS=

FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT=

UPGRADE_TIER_QUEUE=
UPGRADE_TIER_JOB_DELAY=
UPGRADE_TIER_JOB_NAME=
